<!DOCTYPE html>
<html>
  <head>
    <title>Pokecoin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>
  </head>

  <body>
    <nav class="navigation">
      <div class="logo">
        <img src="https://cdn-icons-png.flaticon.com/512/188/188926.png" alt="pikachu figure in a coin" />
        PokeCoin
      </div>
      <div>
        <%= button_to(
          "Log Out",
          destroy_user_session_path,
          { method: :delete, class: "btn first" }
        )  if current_user %>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
    <a href="https://www.flaticon.com/free-icons/pokemon" title="pokemon icons">Pokemon icons created by Roundicons Freebies - Flaticon</a>
  </body>
</html>

